*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",  Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.site-navigation,
.statistics-list,
.footer-navigation,
.list-of-services,
.filters-title,
.tab-filters,
.about-us-list,
.filter-wrapper {
  list-style: none;
}
.site-navigation-link,
.catalog-sort-title {
  color: #000;
}
.site-navigation a:hover,
.cart-link:hover,
.catalog-sort-title:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.cart-link:focus {
  color: #e4e4e4;
}
.site-navigation a:active,
.cart-link:active {
  color: #a6a6a6;
}
.link-active {
  border-bottom: 2px solid #fb565a;
}

.main-header-logo-catalog:hover,
.main-header-logo-catalog:focus {
  opacity: 0.8;
}
.main-header-logo-catalog:active {
 opacity: 0.3;  
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0 );
  width: 1px;
  height: 1px;margin: -1px;
}
.main-header,
.title {
  background-color: #eeeeee;
}
.main-part {
background-color: #fff;
}
.slider {
  position: relative;  
  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 95px;
  z-index: 100;  
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;  
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 8px;  
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";  
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;  
  width: 18px;
  height: 18px;  
  background: #ffffff;  
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/main-slider/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/main-slider/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/main-slider/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  display: block;
  width: 240px;
  padding: 13px 0; 
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #c13135;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-navigation {
  font-family: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;  
}
.cart-link {
  position: relative;
  padding-left: 25px;
  color: #000;  
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;
  width: 15px;
  height: 15px;
  background-image: url(../img/header/cart-icon.svg);
}

.offer-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.button-gallery-nnavigation {
  text-align: center;
}
.services {
  background-color: #fff;
}
.list-of-services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.serv-link {
  display: block;
  width: 160px;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  text-transform: uppercase;
}
.services-link-1 {
  background-color: #fb565a;
  border: none;
}
.services-link-1:hover,
.services-link-1:focus {
  background-color: #e74246;
}
.services-link-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #c13135;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.services-link-2 {
  background-color: #00ca74;
  border: none;
}
.services-link-2:hover,
.services-link-2:focus {
  background-color: #00bc6c;
}
.services-link-2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #009958;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.services-link-3 {
  background-color: #efc84a;
  border: none;
}
.services-link-3:hover,
.services-link-3:focus  {
  background-color: #eab535;
}
.services-link-3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #ce961f;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.about-us-statistics h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us-statistics h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 40px;  
  text-transform: uppercase;
}
.shop-number {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700; 
  margin-top: 40px; 
}
.contacts h3 {
  font-family: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-contacts {
  width: 220px;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fb565a;
  border: none;
}
.button-contacts:hover,
.button-contacts:focus {
  background-color: #e74246;
}
.button-contacts:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #c13135;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.popap-login h2,
.modal-login h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}
.popap-item,
.modal-item { 
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.button-popap,
.button-modal {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-popap:hover,
.button-popap:focus,
.button-modal:hover,
.button-modal:focus, {
  background-color: #e74246;
}
.button-popap:active,
.button-modal:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #c13135;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.filters-title h3,
.catalog-wrapper h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;  
}
.range-controls {
  position: relative;  
  height: 81px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;  
  background-color: #f1f1f1;  
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;  
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.filters-form input {
  width: 80px;
}
legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.filters-item-2 legend {
  margin-top: 45px;
}
.filter-option-radio {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin: 20px 0;  
  }
.filter-option-radio::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url(../img/tab/radio-off.svg) center center no-repeat; 
  opacity: 0.28;
} 
.filter-option-radio-on::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url(../img/tab/radio-on.svg) center center no-repeat; 
  opacity: 0.28;
} 
.filter-option-radio:hover::before,
.filter-option-checkbox:hover::before,
.filter-option-radio-on:hover::before,
.filter-option-checkbox-on:hover::before {
  opacity: 0.7;
}

.filter-option-checkbox {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin: 20px 0;  
}

.filter-option-checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background: url(../img/tab/checkbox-off.svg) center center no-repeat; 
  opacity: 0.28;
} 
.filter-option-checkbox-on::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background: url(../img/tab/checkbox-on.svg) center center no-repeat; 
  opacity: 0.28;
} 
.tab-wrapper {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-navigation{
  color: rgba(0, 0, 0, 0.2);
}
.breadcrumbs-current-1 {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.2);
}
.breadcrumbs-current-2 {
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.2);
}
.breadcrumbs-current-1:hover,
.breadcrumbs-current-2:hover,
.button-navigation:hover {
  color: rgba(0, 0, 0, 0.5);
}
.breadcrumbs-current-1:active,
.breadcrumbs-current-2:active,
.button-navigation:active {
  color: #000;
}

.filters-item {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.filters-link {
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 45px;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}
.filters-link:hover {
  background-color: #dfdfdf;
}
.filters-link:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #c8c8c8;
}
.filters-form input {
  color: #283136;
}
.filters-label-1 input,
.filters-label-2 input {
  width: 80px;  
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;  
  border: none;
  border-radius: 3px;
  background: #f1f1f1;
}
.hover-1,
.hover-2,
.hover-3,
.hover-4,
.hover-5,
.hover-6 {
  background-color: #eeeeee;
}
.button-catalog {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button-catalog:hover,
.button-catalog:focus {
  background-color: #e74246;
}
.button-catalog:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid #c13135;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.hover-1 h2,
.hover-2 h2,
.hover-3 h2,
.hover-4 h2,
.hover-5 h2,
.hover-6 h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
} 
.pagination-item{
  display: block;
  padding: 15px;
  margin-right: 10px; 
  border-radius: 3px;
  width: 50px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;  
  background-color: #eeeeee;
  border: none;
}
.pagination-item:hover {
  background-color: #dfdfdf;
}
.pagination-item:active {
  background-color: #d5d5d5;
  border-top: 2px solid #c8c8c8;
}
.pagination-item-0 {
  background-color: #ffffff;
  border: 3px #eeeeee solid;
}
.pagination-item-1{
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  width: 265px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.pagination-item-1:hover {
  background-color: #e0e0e0;
}
.overlay {
  width: 360px;
  height: 40px;
  background: url(../img/catalog/browser.svg) center center no-repeat;
  opacity:0.12;
}
.overlay:hover {
  opacity:1;
}

/* ----- Сеточные стили индекса----- */

html,
body {
  min-width: 1200px;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ----- main-header----- */

.main-navigation {    
  padding-top: 45px;  
  padding-bottom: 15px;
  display: flex;
  align-items: center; 
  justify-content: space-between;  
}
.site-navigation {
  display: flex;
  font-display: column;
  align-items: center;
  height: 65px;
}
.site-navigation {  
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.site-navigation-link {
  margin-right: 45px;
}

.user-navigation {
  width: 160px;  
  display: flex;
  justify-content: flex-end;
  font-display: column;
  align-items: center;
}

/* ----- slider-wrap----- */

.slider-wrap {
  width: 100%;
  height: 413px;
  margin: 0 auto; 
}
.slider-item-1,
.slider-item-2,
.mslider-item-3 {
  display: flex;
  font-display: column;
  align-items: center;
}
.product-photo-full {
  width: 710px;
}

/* ----- services----- */

.list-of-services {
  margin: 0;
  padding: 80px 0;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.list-of-services-item {
  width: 300px;
}

/* ----- about-us-statistics----- */

.about-us-statistics {
  margin: 0;
  padding: 75px 0;
  display: flex;    
  justify-content: space-between;
}
.about-us {
  width: 655px;
}
.about-us-list p {
  margin-bottom: 30px;
}
.statistics {
  width: 380px;    
  justify-content: flex-end; 
}
.statistics-list {
  margin: 0;
  padding: 0;
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}
.shop-item {
  width: 100px;
}

.about-us-list li {
  position: relative;
  padding-left: 40px;
}
.about-us-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 2px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

/* ----- clientele ----- */

.clientele {
  margin: 0;
  padding: 60px 0;
  display: flex;    
  justify-content: space-between;
}

/* ----- main-footer ----- */

.clientele-logo {
  opacity: 0.2;
}
.clientele-logo:hover,
.clientele-logo:focus {
  opacity: 1;
}
.clientele-logo:active {
 opacity: 0.1;  
}
.footer-contacts{
  padding: 54px 0;  
  margin-top: 80px;
  background: url(../img/contacts/map-marker.jpg) center center no-repeat;
}
.contacts {
  width: 320px;
  padding: 45px;
  background-color: #fff;
}
.social-button-vk {
  position: relative;
  margin-left: 20px; 
}
.social-button-vk::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;  
  border-radius: 50%;
  background: url("../img/footer/vk-icon.svg") center center no-repeat;
  background-color: #e1e1e1;
}
.social-button-fb {
  position: relative;
  margin-left: 90px; 
}
.social-button-fb::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/footer/fb-icon.svg") center center no-repeat;  
  background-color: #e1e1e1;
}
.social-button-insta {
  position: relative;
  margin-left: 90px; 
}
.social-button-insta::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/footer/insta-icon.svg") center center no-repeat;  
  background-color: #e1e1e1;
}
.social-button:hover::before,
.social-button:focus::before {
  background-color: #e74246;
}
.social-button-fb:active::before { 
  background: url("../img/footer/fb.svg") center center no-repeat; 
  background-color: #d7373b;   
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);   
}
.social-button-insta:active::before { 
  background: url("../img/footer/insta.svg") center center no-repeat; 
  background-color: #d7373b;   
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);   
}
.social-button-vk:active::before { 
  background: url("../img/footer/vk.svg") center center no-repeat; 
  background-color: #d7373b;   
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);   
}

/* ----- footer ----- */

.footer-wrapper {
  margin-top: 55px;
  margin-bottom: 65px;
  display: flex;  
  align-items: center;     
  flex-direction: row;
}
.footer-social {
  width: 260px; 
  margin-right: 140px; 
}
.footer-navigation {
 margin: 0;
 padding: 0; 
 display: flex;        
 flex-direction: row;
}

.footer-text {
  width: 550px;
}
/* ----- Сеточные стили каталога----- */

.title {
  padding-top: 50px;
  padding-bottom: 110px;
}
.page-title {
  font-size: 55px;
  line-height: 1px;
  font-weight: 500; 
  text-align: center; 
}

/* ----- Табы----- */

.catalog-hop {
  display: flex; 
}
.filters {
  margin-right: 120px;
}
.catalog-filters {
  display: flex; 
  justify-content: space-between;
}
.filters-title,
.catalog-filters {
  margin: 55px 0;
  display: flex;       
  justify-content: space-between;
}
.filters-form {
  width: 260px;
  display: flex;        
  justify-content: space-between;
}
.filters-item {
  width: 260px;  
  margin-bottom: 55px; 
  display: flex;        
  justify-content: space-between;
}
.filter-wrapper {
  margin-left: 35px;
  padding: 0;
}
.filters-selection {
  width: 260px;
  display: flex;        
  flex-direction: column;
}
.filters-selection-wrap {
  display: flex;
  justify-content: space-between;
}
.catalog {    
  justify-content: flex-end;  
}
.list-site {
  display: inline-block;   
  margin-right: 25px;
  margin-bottom: 30px;
  cursor: pointer;     
}
.pagination {
 display: flex;  
 margin-top: 15px;
 margin-bottom: -20px;
}



