*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",  Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}
a {
  text-decoration: none;
}
.site-navigation,
.shop-navigation,
.footer-navigation,
.list-of-services,
.tab,
.tab-filters,
.filter-option,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.tab a,
.tab-filters a {
  color: #000;
}
.site-navigation a:hover,
.саке-link:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.саке-link:focus {
  color: #e4e4e4;
}


.main-header-slider,
.main-header,
.title {
  background-color: #eeeeee;
}

.main-navigation {
  font-family: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;  
}
.саке-link {
  color: #000;  
}
.main-slider h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.button-slider {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-slider:hover {
  background-color: #e74246;
}
.button-gallery-nnavigation {
  text-align: center;
}

.services {
  background-color: #fff;
}
.list-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.button-services-1 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-services-1:hover {
  background-color: #e74246;
}
.button-services-2 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}
.button-services-2:hover {
  background-color: #00bc6c;
}
.button-services-3 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}
.button-services-3:hover {
  background-color: #eab535;
}

.shop h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.shop h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.shop-number {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.contacts h3 {
  font-family: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-contacts {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-contacts:hover {
  background-color: #e74246;
}
b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.popap-login h2,
.modal-login h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}
.popap-item,
.modal-item { 
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.button-popap,
.button-modal {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-popap:hover,
.button-modal:hover {
  background-color: #e74246;
}

legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab-filters{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.breadcrumbs-current a {
  color: rgba(0, 0, 0, 0.302);
}

.filters-item {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.button-filters {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.button-filters:hover {
  background-color: #e0e0e0;
}

.hover-1,
.hover-2,
.hover-3,
.hover-4,
.hover-5,
.hover-6 {
  background-color: #eeeeee;
}
.button-catalog {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-catalog:hover {
  background-color: #e74246;
}
.hover-1 h2,
.hover-2 h2,
.hover-3 h2,
.hover-4 h2,
.hover-5 h2,
.hover-6 h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
} 

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1440px;
  
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ----- main-header----- */

.main-header {
  width: 100%;  
  min-height: 125px;
  margin-bottom: -50px;
}
.main-navigation {
  width: 1160px;
  margin: 0 auto;  
  padding-top: 45px;  
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;  
}
.site-navigation {
  display: flex;
  font-display: column;
  align-items: center;
  height: 65px;
}
.main-header-logo {
  width: 160px;
  height: 65px;
}
.site-navigation {
  width: 440px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.user-navigation {
  width: 160px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-display: column;
  align-items: center;
}

/* ----- main-header-slider----- */

.main-header-slider {
  width: 100%;
  height: 430px;
  margin: 0 auto; 
}
.main-slider {  
  margin-top: 30px;  
}
.main-slider-item {
  display: flex;
  font-display: column;
  align-items: center;
}
.main-slider-text {
  width: 400px;
  margin-right: 30px;
}
.product-photo-full {
  width: 710px;
}

/* ----- services----- */

.list-of-services {
  margin: 0;
  padding: 80px 0;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.list-item {
  width: 300px;
}

/* ----- shop----- */

.shop {
  margin: 0;
  padding: 80px 0;
  display: flex;    
  justify-content: space-between;
}
.shop-title {
  width: 655px;
}
.shop-img {
  width: 380px;    
  justify-content: flex-end; 
}
.shop-navigation {
  margin: 0;
  padding: 0;
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}
.shop-item {
  width: 100px;
}

/* ----- clientele ----- */

.clientele {
  margin: 0;
  padding: 40px 0;
  display: flex;    
  justify-content: space-between;
}

/* ----- main-footer ----- */

.main-footer {
  padding: 54px 0;  
  margin-top: 80px;
  background: url(../img/contacts/map-marker.jpg) center center no-repeat;
}
.contacts {
  width: 320px;
  padding: 45px;
  background-color: #fff;
}

/* ----- footer ----- */

.footer-wrapper {
  margin-top: 55px;
  margin-bottom: 65px;
  display: flex;  
  align-items: center;     
  flex-direction: row;
}
.footer-social {
  width: 260px; 
  margin-right: 140px; 
}
.footer-navigation {
 margin: 0;
 padding: 0; 
 display: flex;        
 justify-content: space-between;
}

.footer-text {
  width: 550px;
}
