*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",  Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}
a {
  text-decoration: none;
}
.site-navigation,
.statistics-list,
.footer-navigation,
.list-of-services,
.filters-title,
.tab-filters,
.filter-option,
.about-us-list {
  list-style: none;
}
.site-navigation-link,
.filters-title-link,
.catalog-sort-title {
  color: #000;
}
.site-navigation a:hover,
.cart-link:hover,
.filters-title-link:hover,
.catalog-sort-title:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.cart-link:focus {
  color: #e4e4e4;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0 );
  width: 1px;
  height: 1px;margin: -1px;
}
/*img {
  min-width: 100%;
  height: auto;
}*/
.btn {
  width: 160px;
}


.main-part {
background-color: #fff;
}
.main-slider-wrap,
.main-header,
.title {
  background-color: #eeeeee;
}
.main-slider-item-1 {
  min-height: 413px;
  background: url(../img/main-slider/slide1.png) center right no-repeat;
}
.main-slider-item-2 {
  min-height: 413px;
  background: url(../img/main-slider/slide2.png) center right no-repeat;
}
.main-slider-item-3 {
  min-height: 413px;
  background: url(../img/main-slider/slide3.png) center right no-repeat;
}
.main-navigation {
  font-family: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;  
}
.cart-link {
  position: relative;
  padding-left: 25px;
  color: #000;  
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;

  width: 15px;
  height: 15px;
  background-image: url(../img/header/cart-icon.svg);
}

.offer-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.main-slider-text p {
  margin-bottom: 45px;
}
.slider-link {
  display: block;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  width: 240px;
  padding: 15px 0;
  border-radius: 3px;
}
.slider-link:hover {
  background-color: #e74246;
}
.button-gallery-nnavigation {
  text-align: center;
}


.services {
  background-color: #fff;
}
.list-of-services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.serv-link {
  display: block;
  width: 160px;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  text-transform: uppercase;
}
.services-link-1 {
  background-color: #fb565a;
  border: none;
}
.services-link-1:hover {
  background-color: #e74246;
}
.services-link-2 {
  background-color: #00ca74;
  border: none;
}
.services-link-2:hover {
  background-color: #00bc6c;
}
.services-link-3 {
  background-color: #efc84a;
  border: none;
}
.services-link-3:hover {
  background-color: #eab535;
}

.about-us-statistics h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us-statistics h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.shop-number {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.contacts h3 {
  font-family: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-contacts {
  width: 220px;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-contacts:hover {
  background-color: #e74246;
}
b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.popap-login h2,
.modal-login h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}
.popap-item,
.modal-item { 
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.button-popap,
.button-modal {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-popap:hover,
.button-modal:hover {
  background-color: #e74246;
}
.range-filter {
  width: 260px;  
}
.range-controls {
  position: relative;  
  height: 81px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;  
  background-color: #f1f1f1;  
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;  
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}

.filters-form input {
  width: 80px;
}
legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.filters-title,
.catalog-sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab-wrapper {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.tab-filters {
  margin-right: 20px;  
}
.breadcrumbs-current-1 {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.302);
}
.breadcrumbs-current-2 {
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.302);
}

.filters-item {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.filters-link {
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.filters-link:hover {
  background-color: #e0e0e0;
}
.filters-form input {
  color: #283136;
}
.filters-label-1 input,
.filters-label-2 input {
  width: 80px;  
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 3px;
  background: #f1f1f1;
}

.hover-1,
.hover-2,
.hover-3,
.hover-4,
.hover-5,
.hover-6 {
  background-color: #eeeeee;
}
.button-catalog {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button-catalog:hover {
  background-color: #e74246;
}
.hover-1 h2,
.hover-2 h2,
.hover-3 h2,
.hover-4 h2,
.hover-5 h2,
.hover-6 h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
} 

.pagination-item{
  display: block;
  padding: 15px;
  margin-right: 10px; 
  border-radius: 3px;
  width: 50px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;  

  background-color: #eeeeee;
  border: none;
}
.pagination-item:hover {
  background-color: #e0e0e0;
}
.pagination-item-0 {
  background-color: #ffffff;
  border: 3px #eeeeee solid;
}
.pagination-item-1{
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  width: 265px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.pagination-item-1:hover {
  background-color: #e0e0e0;
}
.overlay {
  width: 360px;
  height: 40px;
  background: url(../img/catalog/browser.svg) center center no-repeat;
  opacity:0.12;
}

/* ----- Сеточные стили индекса----- */

html,
body {
  min-width: 1200px;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ----- main-header----- */

.main-header {   
  min-height: 125px;  
}
.main-navigation {    
  padding-top: 45px;  
  padding-bottom: 15px;
  display: flex;
  align-items: center; 
  justify-content: space-between;  
}
.site-navigation {
  display: flex;
  font-display: column;
  align-items: center;
  height: 65px;
}
.main-header-logo {
  width: 360px;
  height: 65px;
}
.site-navigation {  
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.site-navigation a {
  margin-right: 45px;
}

.user-navigation {
  width: 160px;  
  display: flex;
  justify-content: flex-end;
  font-display: column;
  align-items: center;
}

/* ----- main-slider-wrap----- */

.main-slider-wrap {
  width: 100%;
  height: 413px;
  margin: 0 auto; 
}
.main-slider-item-1,
.main-slider-item-2,
.main-slider-item-3 {
  display: flex;
  font-display: column;
  align-items: center;
}
.product-photo-full {
  width: 710px;
}

/* ----- services----- */

.list-of-services {
  margin: 0;
  padding: 80px 0;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.list-of-services-item {
  width: 300px;
}

/* ----- about-us-statistics----- */

.about-us-statistics {
  margin: 0;
  padding: 80px 0;
  display: flex;    
  justify-content: space-between;
}
.about-us {
  width: 655px;
}
.statistics {
  width: 380px;    
  justify-content: flex-end; 
}
.statistics-list {
  margin: 0;
  padding: 0;
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}
.shop-item {
  width: 100px;
}

.about-us-list li {
  position: relative;
  padding-left: 40px;
}
.about-us-list li::before {
content: "";
position: absolute;
top: 12px;
left: 2px;

width: 25px;
height: 2px;
background-color: #fb565a;
}

/* ----- clientele ----- */

.clientele {
  margin: 0;
  padding: 40px 0;
  display: flex;    
  justify-content: space-between;
}

/* ----- main-footer ----- */

.footer-contacts{
  padding: 54px 0;  
  margin-top: 80px;
  background: url(../img/contacts/map-marker.jpg) center center no-repeat;
}
.contacts {
  width: 320px;
  padding: 45px;
  background-color: #fff;
}
.social-button-vk {
  position: relative;
  margin-left: 20px; 
}
.social-button-vk::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/footer/vk-icon.svg") center center no-repeat;
  background-color: #e1e1e1;
}
.social-button-fb {
  position: relative;
  margin-left: 90px; 
}
.social-button-fb::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/footer/fb-icon.svg") center center no-repeat;
  background-color: #e1e1e1;
}
.social-button-insta {
  position: relative;
  margin-left: 90px; 
}
.social-button-insta::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/footer/insta-icon.svg") center center no-repeat;
  background-color: #e1e1e1;
}

/* ----- footer ----- */

.footer-wrapper {
  margin-top: 55px;
  margin-bottom: 65px;
  display: flex;  
  align-items: center;     
  flex-direction: row;
}
.footer-social {
  width: 260px; 
  margin-right: 140px; 
}
.footer-navigation {
 margin: 0;
 padding: 0; 
 display: flex;        
 flex-direction: row;
}

.footer-text {
  width: 550px;
}
/* ----- Сеточные стили каталога----- */

.title {
  padding-top: 75px;
  padding-bottom: 110px;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
  text-align: center; 
}

/* ----- Табы----- */

.catalog-hop {
display: flex; 
}
.filters {
  margin-right: 120px;
}
.catalog-filters {
 display: flex; 
 justify-content: space-between;
}
.filters-title,
.catalog-filters {
  margin: 55px 0;
  display: flex;       
  justify-content: space-between;
}
.filters-form {
  width: 260px;
  display: flex;        
  justify-content: space-between;
}
.filters-item {
  width: 260px;
  margin-top: 25px;
  margin-bottom: 55px; 
  display: flex;        
  justify-content: space-between;
}
.filter-wrapper {
  margin: 0;
  padding: 0;
}
.filters-selection {
  width: 260px;
  display: flex;        
  flex-direction: column;
}
.filters-item-1,
.filters-item-2 {
  margin-bottom: 40px;
}

.filters-selection-wrap {
  display: flex;
  justify-content: space-between;
}

.catalog {    
  justify-content: flex-end;  
}
.list-site {
  display: inline-block;   
  margin-right: 25px;
  margin-bottom: 30px;     
}

.pagination {
 display: flex;  
 margin-top: 15px;
 margin-bottom: -20px;
}



