*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",  Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}
a {
  text-decoration: none;
}
.site-navigation,
.shop-navigation,
.footer-navigation,
.list-of-services,
.tab,
.tab-filters,
.filter-option,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.tab a {
  color: #000;
}
.site-navigation a:hover,
.саке-link:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.саке-link:focus {
  color: #e4e4e4;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0 );
  width: 1px;
  height: 1px;margin: -1px;
}
/*img {
  min-width: 100%;
  height: auto;
}*/


.main-part {
background-color: #fff;
}
.main-header-slider,
.main-header,
.title {
  background-color: #eeeeee;
}

.main-navigation {
  font-family: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;  
}
.саке-link {
  color: #000;  
}
.main-slider h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-link {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.slider-link:hover {
  background-color: #e74246;
}
.button-gallery-nnavigation {
  text-align: center;
}

.services {
  background-color: #fff;
}
.list-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.services-link-1 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.services-link-1:hover {
  background-color: #e74246;
}
.services-link-2 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}
.services-link-2:hover {
  background-color: #00bc6c;
}
.services-link-3 {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}
.services-link-3:hover {
  background-color: #eab535;
}

.shop h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.shop h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.shop-number {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.contacts h3 {
  font-family: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-contacts {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-contacts:hover {
  background-color: #e74246;
}
b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.popap-login h2,
.modal-login h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}
.popap-item,
.modal-item { 
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.button-popap,
.button-modal {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-popap:hover,
.button-modal:hover {
  background-color: #e74246;
}

legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab-filters {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
}
.breadcrumbs-current-1 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.302);
}
.breadcrumbs-current-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.302);
}

.filters-item {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.filters-link {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.filters-link:hover {
  background-color: #e0e0e0;
}

.hover-1,
.hover-2,
.hover-3,
.hover-4,
.hover-5,
.hover-6 {
  background-color: #eeeeee;
}
.button-catalog {
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}
.button-catalog:hover {
  background-color: #e74246;
}
.hover-1 h2,
.hover-2 h2,
.hover-3 h2,
.hover-4 h2,
.hover-5 h2,
.hover-6 h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
} 

.pagination-item{
  width: 50px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;  

  background-color: #eeeeee;
  border: none;
}
.pagination-item:hover {
  background-color: #e0e0e0;
}
.pagination-item-1{
  width: 265px;
  font-style: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}
.pagination-item-1:hover {
  background-color: #e0e0e0;
}

/* ----- Сеточные стили индекса----- */

html,
body {
  min-width: 1200px;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ----- main-header----- */

.main-header {   
  min-height: 125px;  
}
.main-navigation {    
  padding-top: 45px;  
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;  
}
.site-navigation {
  display: flex;
  font-display: column;
  align-items: center;
  height: 65px;
}
.main-header-logo {
  width: 360px;
  height: 65px;
}
.site-navigation {  
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.site-navigation a {
  margin-right: 45px;
}

.user-navigation {
  width: 160px;  
  display: flex;
  justify-content: flex-end;
  font-display: column;
  align-items: center;
}

/* ----- main-header-slider----- */

.main-header-slider {
  width: 100%;
  height: 430px;
  margin: 0 auto; 
}
.main-slider-item {
  display: flex;
  font-display: column;
  align-items: center;
}
.main-slider-text {
  width: 400px;
  margin-right: 30px;
}
.product-photo-full {
  width: 710px;
}

/* ----- services----- */

.list-of-services {
  margin: 0;
  padding: 80px 0;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.list-item {
  width: 300px;
}

/* ----- shop----- */

.shop {
  margin: 0;
  padding: 80px 0;
  display: flex;    
  justify-content: space-between;
}
.shop-title {
  width: 655px;
}
.shop-img {
  width: 380px;    
  justify-content: flex-end; 
}
.shop-navigation {
  margin: 0;
  padding: 0;
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}
.shop-item {
  width: 100px;
}

/* ----- clientele ----- */

.clientele {
  margin: 0;
  padding: 40px 0;
  display: flex;    
  justify-content: space-between;
}

/* ----- main-footer ----- */

.footer-contacts{
  padding: 54px 0;  
  margin-top: 80px;
  background: url(../img/contacts/map-marker.jpg) center center no-repeat;
}
.contacts {
  width: 320px;
  padding: 45px;
  background-color: #fff;
}

/* ----- footer ----- */

.footer-wrapper {
  margin-top: 55px;
  margin-bottom: 65px;
  display: flex;  
  align-items: center;     
  flex-direction: row;
}
.footer-social {
  width: 260px; 
  margin-right: 140px; 
}
.footer-navigation {
 margin: 0;
 padding: 0; 
 display: flex;        
 justify-content: space-between;
}

.footer-text {
  width: 550px;
}
/* ----- Сеточные стили каталога----- */

.title {
  padding-top: 75px;
  padding-bottom: 110px;
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
  text-align: center; 
}

/* ----- Табы----- */

.tab {
  margin: 55px 0;
  display: flex;       
  justify-content: space-between;
}

.filters {
  width: 260px;
  margin: 50px 0;
  display: flex;        
  justify-content: space-between;
}
.filter-wrapper {
  margin: 0;
  padding: 0;
}
.filters-selection {
  width: 260px;
  display: flex;        
  flex-direction: column;
}
.filters-1,
.filters-2 {
  margin-bottom: 40px;
}
.filters-selection-site {  
  display: flex; 
  justify-content: flex-end;         
  flex-direction: column;  
}
.filters-selection-list {
  display: flex;
  justify-content: space-between;
}
.group-site {
  width: 760px;
  margin-bottom: 30px;
  display: flex;        
  justify-content: space-between;
}
.group-site-link {
 display: flex;  
 margin-top: 15px;
 margin-bottom: -20px;
}
.pagination-item {
  margin-right: 10px;  
}

